section.header{
    width: 100vw;
    display: grid;
    grid-template-columns: var(--desktop);
    background-color: var(--black); 
    height: 7rem;
    border-bottom: solid 1px var(--white);
}

section.header .brand-logo{
    grid-column: 1/ span 6;
    width: 80px;
    height: 80px;
}


/* Studio Cyres */
.brand-logo .brand-name{
    font-family: 'Moirai One', cursive;
    color: var(--silver);
    letter-spacing: 3px;
    line-height: var(--fsDouble);
    font-size: var(--fsDouble);
    font-weight: var(--fw700);
    text-shadow: 1px 2px 2px var(--silver);
}

.brand-logo:hover .brand-name{
    color: var(--turquoise);
    text-shadow: 1px 2px 2px var(--turquoise);
}

/* letter y span */
.heart{
    font-family: var(--ffMoirai);
    font-size: var(--fsDouble); 
    color: var(--turquoise);
    text-shadow: 2px 2px 2px  var(--turquoise);
}


/* hamburger menu */
section.header .toggle-btn{
    grid-column: 11/ span 1;
    margin: 1.5rem 0 1.5rem 5.5rem; 
    padding: var(--fsStandard);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.header .toggle-btn i {
    /* background-color: var(--white); */
    color: var(--silver);
    font-size: var(--fsDouble);
    text-align: center;
    height: 50px;
    width: 50px;
    /* border: red solid 2px;; */
}
/* end hamburger menu */
.header-nav{
    display: none;
}
/** MEDIA QUERIES **/

/* TABLET MEDIUM SCREENS */
@media (min-width: 768px) {
    .header-nav{
        cursor: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: var(--fsStandard);
    }
    
    .toggle-btn i{
        display: none;
    }
    
    .header-nav a{
        margin: .5rem;
        letter-spacing: .1rem;
        font-size: 1.5rem;
        font-family: var(--ffRalewayDots);
        font-weight: var(--fw700);
        color: var(--silver);
        text-decoration: none;
        scale: .8;
        transition: 0.25s;
        cursor: default;
    }
    
    
    .header-nav a:hover{
        scale: 1;
        color: var(--turquoise);
    }
    
    .header-nav a span 
    {
        position: relative;
        font-size: 1.5rem;
	    letter-spacing: 0.05em;
	    transition: 0.25s;
	    text-transform: uppercase;
}
.header-nav:hover a span 
{
	color: var(--turquoise);
	text-shadow: 0 0 5px var(--turquoise),
	0 0 15px var(--turquoise),
	0 0 30px var(--turquoise),
	0 0 60px var(--turquoise),
	0 0 100px var(--turquoise);
}
}