section.header{
    width: 100vw;
    display: grid;
    grid-template-columns: var(--desktop);
    background-color: var(--black); 
    height: 6.5rem;
    border-bottom: solid 1px var(--white);
}

section.header .brand-logo{
    grid-column: 1/ span 6;
    width: 80px;
    height: 80px;
    margin-left: var(--fsDouble);
    padding: var(--fsStandard);
}


/* Studio Cyres */
.brand-logo .brand-name{
    font-family: var(--ffMoirai);
    font-size: var(--fsDouble);
    color: var(--silver);
    letter-spacing: 3px;
    line-height: var(--fsDouble);
    font-weight: 700;
    text-shadow: 1px 2px 2px var(--silver);
    
    
}

.brand-logo:hover .brand-name{
    color: var(--turquoise);
    text-shadow: 1px 2px 2px var(--turquoise);
}

/* letter y span */
.heart{
    font-family: var(--ffMoirai);
    font-size: var(--fsDouble); 
    color: var(--salmon);
    text-shadow: 2px 2px 2px  var(--salmon);
}


/* hamburger menu */
section.header .toggle-btn{
    grid-column: 11/ span 1;
    margin: 1.5rem 0 1.5rem 5.5rem; 
    padding: var(--fsStandard);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.header .toggle-btn i {
    color: var(--silver);
    font-size: var(--fsDouble);
    text-align: center;
    height: 50px;
    width: 50px;
    
}
/* end hamburger menu */
.header-nav{
    display: none;
}
/** MEDIA QUERIES **/

/* TABLET MEDIUM SCREENS */
@media (min-width: 768px) {
    section.header .brand-logo{
        width: 200px;
        height: 200px;
        border: double 4px var(--white);
        border-radius: 50%;
        position: absolute;
        left: -60px;
        top: -40px;
        background-color: var(--black);
    }
    
    .brand-logo .brand-name{
        font-size: var(--fsDouble);
        position: absolute;
        top: 60px;
        left: 35px;
        rotate: -25deg;
    }

}
@media screen and (min-width: 900px) {
    .header-nav{
        cursor: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: var(--fsStandard);
    }
    
    .toggle-btn i{
        display: none;
    }
    
    .header-nav a{
        margin: .8rem;
        letter-spacing: .1rem;
        font-size: 1.5rem;
        font-family: var(--ffRaleway);
        font-weight: var(--fw700);
        color: var(--white);
        text-decoration: none;
        scale: 1;
        transition: 0.25s;
        cursor: default;
        text-shadow: 2px 2px 2px  var(--white);

    }
    
    
    .header-nav a:hover{
        scale: 1.2;
        color: var(--turquoise);
        text-shadow: 2px 2px 2px  var(--turquoise);

    }
    
    .header-nav a span 
    {
        position: relative;
        font-size: 1.5rem;
	    letter-spacing: 0.05em;
	    transition: 0.25s;
	    text-transform: uppercase;
}
.header-nav:hover a span 
{
	color: var(--turquoise);
	text-shadow: 0 0 5px var(--turquoise),
	0 0 15px var(--turquoise),
	0 0 30px var(--turquoise),
	0 0 60px var(--turquoise),
	0 0 100px var(--turquoise);
}
}