#section-4{
    background-color: var(--ocean);
    padding-bottom: var(--fsTriple);
}

#section-4 #resume-container{
    padding-left: var(--fsDouble);
    padding-right: var(--fsStandard);
}

#resume-container div{
    padding-bottom: var(--fsStandard);
}

#resume-heading h1{
    font-size: var(--fsDouble);
}

#resume-heading .website{
    color: var(--white);
}

#download-btn{
    text-decoration: none;
    background-color: var(--turquoise);
    border-radius: .5rem;
    border: solid 1px var(--turquoise);
    padding: .4rem;
    box-shadow: 0 8px 8px var(--black);
    letter-spacing: .1rem;
    font-family: var(--ffInconsolata);
    font-weight: var(--fw700);
    color: var(--black);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





