#section-4{
    background-color: var(--ocean);
    padding-bottom: var(--fsTriple);
}

#resume-container{
    padding-left: var(--fsDouble);
    padding-right: var(--fsStandard);
    padding-bottom: var(--fsStandard);
}

#resume-container div{
    padding-bottom: var(--fsStandard);
}

#resume-heading h1{
    font-size: var(--fsDouble);
}

#resume-heading .website{
    color: var(--white);
}

#download-btn{
    text-decoration: none;
    background-color: var(--silver);
    border-radius: .5rem;
    border: solid 1px var(--silver);
    padding: .4rem;
    box-shadow: 0 8px 8px var(--black);
    letter-spacing: .1rem;
    font-family: var(--ffInconsolata);
    font-weight: var(--fw700);
    color: var(--black);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#download-btn:hover{
    background-color: var(--ash);
    color: var(--silver);
    box-shadow: 0 3px 5px var(--silver);
}

@media screen and (min-width: 768px) {
    #resume-container{
        display: grid;
        gap: var(--fsStandard);
        grid-template-areas: 
        'rh rh'
        'rs rs'
        'ts ph'
        'wh edu';
    }

    #resume-heading{
        grid-area: rh;
        border-bottom: solid 1px var(--silver);
    }
    #resume-summary{
        grid-area: rs;
        padding-top: var(--fsStandard);
    }
    #tech-skills{
        grid-area: ts;
    }

    #projects-history{
        grid-area: ph;
    }

    #work-history{
        grid-area: wh;
    }

    #education{
        grid-area: edu;
    }

    #resume-container div h3{
        font-size: var(--fsStandard);
        padding-bottom: .5rem;
    }
    #resume-container div p{
        font-size: var(--fsStandard);
        padding-bottom: .5rem;
    }
}