@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Big+Shoulders+Inline+Text:wght@300;400&family=Raleway+Dots&family=Raleway:wght@100;300;400;500&family=Moirai+One&display=swap');
/* Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Raleway',sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--ash);
  }
  
  img{
    width: 200px;
    height: 200px;
  }

  .section-heading{
    font-family: var(--ffMoirai);
    font-size: var(--fsTriple);
    color: var(--white);
    padding-top: 3rem;
    padding-bottom: .5rem;
    /* border-bottom: solid 1px var(--white); */
  }

  .section-heading::before, .section-heading::after{
    content: '';
    width: 35px;
    height: 2px;
    background-color: var(--white);
  }

  /* Root Variables */
  :root{  
    --ffInconsolata: Inconsolata, monospace;
    --ffBigShoulders: 'Big Shoulders Inline Text', sans-serif;
    --ffRaleway: Raleway, sans-serif;
    --ffRalewayDots: 'Raleway Dots', cursive;
    --ffMoirai: 'Moirai One', serif;
    --fsStandard: 1rem;
    --fsDouble: 2rem;
    --fsTriple: 3rem;
    --fsHeading: 8rem;
    --double: repeat(2, 1fr);
    --tablet: repeat(3, 1fr);
    --mobile: repeat(5, 1fr);
    --mobile6: repeat(6, 1fr);
    --desktop: repeat(12, 1fr);
    --silver: #aaa;
    --turquoise: turquoise;
    --white: #fff;
    --black: #000;
    --ash: rgb(34, 46, 55);
    --ocean: rgb(9, 69, 104);
    --salmon: salmon;
  }

  /* Main Container Styling*/
#main-container{
  display: grid;
  grid-template-rows: var(--mobile);
  /* row-gap: .5rem; */
  height: calc(100vh - 7rem);
}

#main-container section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  width: 100vw;
  height: calc(30vh - 7rem);
  font-family: var(--ffInconsolata);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--silver);
}

footer p::before {
  content: '\00a9';
  color: var(--black);
  font-size: 1.2rem;
  padding-right: .3rem;
  padding-top: .5rem;
}




