@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Big+Shoulders+Inline+Text:wght@300;400&family=Raleway+Dots&family=Raleway:wght@100;300;400;500&family=Moirai+One&display=swap');
/* Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: 'Raleway',sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  img{
    width: 200px;
    height: 200px;
  }

  /* Root Variables */
  :root{  
    --ffInconsolata: Inconsolata, monospace;
    --ffBigShoulders: 'Big Shoulders Inline Text', sans-serif;
    --ffRaleway: Raleway, sans-serif;
    --ffRalewayDots: 'Raleway Dots', cursive;
    --ffMoirai: 'Moirai One', serif;
    --fsStandard: 1rem;
    --fsDouble: 2rem;
    --fsTriple: 3rem;
    --fsHeading: 8rem;
    --double: repeat(2, 1fr);
    --tablet: repeat(3, 1fr);
    --mobile: repeat(6, 1fr);
    --desktop: repeat(12, 1fr);
    --silver: #aaa;
    --turquoise: turquoise;
    --white: #fff;
    --black: #000;
    --ash: rgb(34, 46, 55);
    --ocean: rgb(9, 69, 104);
  }

  /* Main Container Styling*/
#main-container{
  display: grid;
  grid-template-rows: var(--mobile);
  background-color: var(--ocean);
  row-gap: .8rem;
  height: calc(100% - 4rem);
}

section{
  padding: var(--fsStandard);
}

footer{
  width: 100vw;
}




