<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
	<meta charset="UTF-8">
	<title>Cube 3d</title>
	<!-- This is a codepen by Dmitri b. chiefman -->

	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>


</head>
<body>
	    <div class="wrap">
        <div class="wrap-inner">
		      <div class="container-box">		    
			
        <div class="box" id="b1">
          <div class="wall-1"></div>
          <div class="wall-2"></div>
          <div class="wall-3"></div>
          <div class="wall-4"> </div>
          <div class="wall-5">
            <span class="box-logo">90%</span>
          </div>
          <div class="wall-6">
            <span class="box-logo">Box1</span>
          </div>

          <p class="info">HTML5 | JADE | Bootstrap <br> Валидация | Адаптивность под различные устройства и разрешения</p>
        </div>			
				
        <div class="box" id="b2">
          <div class="wall-1"></div>
          <div class="wall-2"></div>
          <div class="wall-3"></div>
          <div class="wall-4">

          </div>
          <div class="wall-5">
            <span class="box-logo pers">95%</span>
          </div>
          <div class="wall-6">
            <span class="box-logo">Box2</span>
          </div>	
          <p class="info">css3 | sass | sass compass </p>			
        </div>

        <div class="box" id="b3">
          <div class="wall-1"></div>
          <div class="wall-2"></div>
          <div class="wall-3"></div>
          <div class="wall-4">

          </div>
          <div class="wall-5">
            <span class="box-logo">80%</span>
          </div>
          <div class="wall-6">
            <span class="box-logo">Box3</span>
          </div>

          <p class="info">jQuery Ui</p>
        </div>		

			        <div class="box" id="b4">
          <div class="wall-1"></div>
          <div class="wall-2"></div>
          <div class="wall-3"></div>
          <div class="wall-4"></div>
          <div class="wall-5">
            <span class="box-logo">65%</span>
          </div>
          <div class="wall-6">
            <span class="box-logo">Box5</span>
          </div>
            <p class="info">svg</p>
        </div>

			        <div class="box" id="b5">
          <div class="wall-1"></div>
          <div class="wall-2"></div>
          <div class="wall-3"></div>
          <div class="wall-4"></div>
          <div class="wall-5">
            <span class="box-logo">80%</span>
          </div>
          <div class="wall-6">
            <span class="box-logo">Box6</span>
          </div>
				          <p class="info">Landing page design | Mock Up card | Ретушь фото </p>
			        </div>	
			
		      </div>
          </div>
	    </div>
  </body>
</html>